<div class="card bg-body-tertiary justify-content-center">
    <div class="card-header text-bg-info text-center p-1">
        <h4 class="card-title">Contact Address</h4>
    </div>
    <div class="card-body">
        <address>
            <strong>Contact Person:</strong> Santosh Kumar Thakur<br>
            E-mail: santosh.thakurimpesys.com<br>
            Phone: +91-80224 55888<br>
            Address: Impelsys Private Limited, IWF Campus, Tower A, Survey.No.192, Whitefield Main Rd, Mahadevapura, Bengaluru- 560048. India.<br> 
            <small> Terms and Conditions: Products once bought cannot be returned. </small>
        </address>
    </div>
</div>